.card_mywallet {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 23px 39px;
  min-height: 174px;
  border: 1px solid var(--gray06);
  border-radius: 20px;
  background: var(--white);
}

.mywallet {
  display: flex;
  flex-wrap: wrap;
}

.mywallet_text {
  padding: 10px 0;
}

.h4_18 {
  width: 128px;
  font-family: "Pretendard Variable";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.003em;
  color: var(--black);
  margin: 0;
}

.wallet_logo_mywallet_information {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
  padding-right: 26.5px;
}

.wallet_logo_mywallet_information > hr {
  margin: 0;
  width: 2px;
  height: 126px;
  border: none;
  background: var(--gray05);
}

.wallet_logo {
  box-sizing: border-box;
  width: 106px;
  height: 106px;
  border: 1px solid var(--gray05);
  border-radius: 20px;
  align-content: center;
  text-align: center;
}

.mywallet_information {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
  gap: 4px;
}

.h5_16 {
  width: 154px;
  font-family: "Pretendard Variable";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  color: var(--black);
  margin: 0;
}

.p1_16 {
  display: block;
  width: 154px;
  font-family: "Pretendard Variable";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: -0.005em;
  color: var(--black);
  margin: 0;
}

.button_s {
  display: flex;
  box-sizing: border-box;
  padding: 8px 20px;
  height: 36px;
  border: none;
  border-radius: 40px;
  background: var(--purple01);
  justify-content: center;
  align-items: center;
}

.button_s > h5 {
  font-family: "Pretendard Variable";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  color: var(--white);
  margin: 0;
}

.card_mywallet_blur {
  background: rgba(131, 110, 148, 0.1);
}

.zero_padding {
  padding-right: 0;
}

.wallet_logo_with_button {
  display: flex;
  gap: 14px;
}

.wallet_logo_blur {
  filter: blur(3px);
  -webkit-filter: blur(3px);
}

.divder_blur {
  filter: blur(3px);
  -webkit-filter: blur(3px);
}

.mywallet_button {
  display: flex;
  gap: 10px;
  padding: 36px;
  background: linear-gradient(
    265.98deg,
    #9536cc -12.82%,
    #a554d5 45.52%,
    #c996db 105.04%
  );
  border-radius: 20px;
  align-items: center;
}

.mywallet_button > h5 {
  width: 86.67px;
  font-family: "Pretendard Variable";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  color: var(--white);
  margin: 0;
}

.rectangle_19 {
  background: rgba(131, 110, 148, 0.1);
  height: 100%;
}

@media (max-width: 450px) {
  .card_mywallet {
    width: calc(100vw - 40px);
    padding: 0;
  }

  .wallet_logo_mywallet_information {
    flex: 1;
    padding-left: 26.5px;
    padding-right: 0;
  }

  .card_mywallet_blur > .mywallet > .wallet_logo_mywallet_information {
    justify-content: center;
    padding-left: 0;
    padding-right: 0;
  }

  .wallet_logo_mywallet_information > hr {
    display: none;
  }

  .mywallet_text {
    padding-left: 20px;
  }

  .wallet_logo_with_button {
    width: 100%;
    justify-content: center;
    gap: 0;
  }
}
