.signupPage {
  box-sizing: border-box;
  padding: 20px 40px;
}

.signupForm {
  box-sizing: border-box;
  padding: 24px 40px 40px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  background: var(--white);
  border: 1px solid var(--gray06);
  border-radius: 20px;
}

.signupHeader {
  margin: 0;
  height: 29px;
  font-family: var(--font-pretendard);
  font-size: var(--h4-20-font-size);
  font-style: var(--h4-20-font-style);
  font-weight: var(--h4-20-font-weight);
  line-height: var(--h4-20-line-height);
  letter-spacing: var(--h4-20-letter-spacing);
  color: var(--black);
}

.signupInputFieldSet {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.signupLabel {
  margin: 0;
  font-family: var(--font-pretendard);
  font-style: var(--h5-16-font-style);
  font-weight: var(--h5-16-font-weight);
  font-size: var(--h5-16-font-size);
  color: var(--gray03);
}

.signupInputField {
  box-sizing: border-box;
  border: 1px solid var(--gray05);
  border-radius: 10px;
  margin: 0;
  padding: 12px 16px;
  height: 48px;
  background: var(--white);
  color: var(--gray04);
  font-size: var(--p1-18-font-size);
}

.signupTextAreaField {
  background: var(--white);
  border-radius: 10px;
  height: 614px;
}

.signupInputFieldSet .signupHintList {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease;
  color: var(--info);
  background: var(--gray06);
  border-radius: 10px;
  margin: 0;
  padding: 8px 0 8px 40px;
}

.signupInputFieldSet:focus-within .signupHintList {
  visibility: visible;
  opacity: 1;
}

.signupSubmitButtonOuter {
  text-align: center;
}

.signupButton {
  box-sizing: border-box;
  border: none;
  border-radius: 40px;
  margin: 0;
  padding: 19px 36px;
  width: clamp(200px, 100%, 320px);
  background: var(--purple01);
  color: var(--white);
  font-family: var(--font-pretendard);
  font-style: var(--h5-16-font-style);
  font-weight: var(--h5-16-font-weight);
  font-size: var(--h5-16-font-size);
}

@media (max-width: 870px) {
  .signupPage {
    width: 100vw;
    padding: 0;
  }

  .signupForm {
    border-radius: 0;
  }
}

@media (max-width: 450px) {
  .signupTextAreaField {
    height: 307px;
  }
}
