.card_profile_wallet {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;
}

.card_profile {
  box-sizing: border-box;
  background: var(--white);
  border: 1px solid var(--gray06);
  border-radius: 20px;
  padding: 24px;
  flex: 1;
}

.profile {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.profile_name {
  display: flex;
  align-items: center;
  gap: 24px;
}

.profile_nick {
  max-width: 230px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0;
  font-family: "Pretendard Variable";
  font-style: normal;
  font-weight: 300;
  font-size: 28px;
  line-height: 33px;
  color: var(--gray01);
}

.profile_text_setting_button {
  display: flex;
  gap: 24px;
  justify-content: space-between;
  align-items: center;
}

.profile_text {
  width: calc(100% - 250px);
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding-left: 82px;
}

.phone_number {
  display: flex;
  align-items: center;
  gap: 8px;
}

.p1_16 {
  width: 114px;
  font-family: "Pretendard Variable";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: -0.005em;
  color: var(--gray03);
  margin: 0;
}

.setting_button {
  width: 48px;
  height: 48px;
  display: block;
  box-sizing: border-box;
  padding: 12px;
  background: var(--purple01);
  border-radius: 40px;
}

@media (max-width: 450px) {
  .card_profile {
    width: calc(100vw - 48px);
    padding: 24px 24px;
  }

  .profile_text {
    width: calc(100vw - 250px);
  }

  .profile_text_setting_button {
    justify-content: space-between;
  }

  .profile_nick {
    max-width: calc(100vw - 172px);
  }
}
