.toastui-editor-contents p {
  margin: 0 !important;
  font-family: "Pretendard Variable";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px !important;
  letter-spacing: -0.005em;
  color: var(--gray03) !important;
}
